<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <h2 class="navbar-brand text-white fw-1000">Finzly Loan Application</h2>
        <div class="collapse navbar-collapse" id="navbar-bar">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" routerLink="Home">Home</a>
                <a class="nav-link" routerLink="totalloans">All Loans</a>
                <a class="nav-link" routerLink="Applyloan">Apply For Loan</a>
                <a class="nav-link" routerLink="register">Register</a>
                <a class="nav-link" routerLink="login">Login</a>
                <a class="nav-link" routerLink="logout">Logout</a>
            </div>
        </div>
    </nav>
</div>