.Application{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn-outline-success{
    float: right;
}

#purpose{
  padding-left: 10px;
  padding-right: 10px;
}
#applyloan {
    background: white;
    background: webkit-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(22,45,233,0.6839110644257703) 2%, rgba(53,70,230,1) 98%, rgba(189,181,219,1) 100%, rgba(148,187,233,1) 100%);
    justify-content: center;
    width:83%;
    display: flexbox;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 3%;
    color: black;
  }
  h3{
    margin-bottom: 5%;
  }
  .row{
    margin-bottom: 1%;
    padding-bottom: 1%;
  }
  #button{
    margin-top: 5%;
    padding-bottom: 0 !important;
  }
  @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }